<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibatis.mapper.PointMapper" >

	<insert id="addPointsList" parameterType="String">
	insert into t_pointslist(FParentID,FPoint,FSource) values(#{fphone},5,#{fsource}) 
	</insert>	
	
	<insert id="addPointsALL" parameterType="String">
	insert into t_points(FParentId,FPoints) value(#{fphone},#{fpoints})
	</insert>
	
	
	<insert id="comsumePoints" parameterType="String">
	insert into t_pointslist(FParentId,FPoint,FSource) value(#{fphone},#{fpoints},0)
	
	
	</insert>
	
	  <update id="updatePoints" parameterType="String">
		update t_points set FPoints = #{fpoints}  where FParentID = #{fphone}
	</update>
	
	

 	<select id="sumPointadd" parameterType="String" resultType="String">
		select sum(Fpoint) from t_pointslist p where p.FParentId = #{fphone} and p.FSource!= 0
	  </select>  
	  
	  <select id="sumPointconsume" parameterType="String" resultType="String">
		select sum(Fpoint) from t_pointslist p  where p.FParentId = #{fphone} and p.FSource= 0
	  </select>  
	  
	  
	 
	  
	  <select id="getConsumePointList" parameterType="String" resultType="PointsList">
		select * from t_pointslist p where p.FParentId = #{fphone} and p.FSource!= 0
	  </select> 
	  
	   <select id="getAddPointList" parameterType="String" resultType="PointsList">
		select * from t_pointslist p where p.FParentId = #{fphone} and p.FSource= 0
	  </select> 
	  
	  
	   
	<select id="getPoints" parameterType="String" resultType="Points">
		select * from t_points p where p.FParentId = #{fphone}
	  </select>  	
	   
	 
	  
</mapper>


